header{
    padding: 40px;
    background-color: lightgreen;
    font-size: 2rem;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    
}
main div{
    padding: 20px;
    box-sizing: border-box;
    
}
main div:nth-child(1){
    width: 50%;
    background-color: aquamarine;
}
main div:nth-child(2){
    width: 50%;
    background-color: blue;
}
main div:nth-child(3){
    width: 100%;
    background-color: blueviolet;
}
/*medi*/
@media (max-width:600px) {
    header{
        font-size: 1.1rem;
    }
}
@media (max-width:500px) {
    main div:nth-child(1){
        width: 100%;
    }
    main div:nth-child(2){
        width: 100%;
    }
}